
extends layout

block footer
  p Moshe Reubinoff

append my_form
  .main.container
        .row
          .col-md-6.col-md-offset-3
            h1.display-4.m-b-2 File sniffer

            // register form
            form(method='POST' action='/file' , enctype="multipart/form-data")
              div
                .form-group
                  label(for='avatar' ) Name:
                  input#avatar.form-control(type='file', name='avatar')

              button.btn.btn-primary(type='submit') Upload